<section class="project-form" >
    <h2>Enregistrer un nouveau project</h2>
    <form [formGroup]="projectForm" (ngSubmit) = "save()">
      <div>
        <label for="name">Name :</label>
        <input type="text" id="name" formControlName="name">
        <div *ngIf="projectForm.controls['name'].invalid && projectForm.controls['name'].touched">
          <span *ngIf="projectForm.controls['name'].errors?.['required']">Le nom est obligatoire.</span>
        </div>
      </div>
      <div>
        <label for="descriptif">Descriptif :</label>
        <input type="text" id="descriptif" formControlName="descriptif">
        <div *ngIf="projectForm.controls['descriptif'].invalid && projectForm.controls['descriptif'].touched">
          <span *ngIf="projectForm.controls['descriptif'].errors?.['required']">Le titre est obligatoire.</span>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="projectForm.invalid">Enregistrer</button>
      </div>
    </form>
  </section>
