<table>
    <tr>
      <td>
        <h2>TODO Tickets</h2>
        <ul>
          <li *ngFor="let ticket of TODOTickets">
            <button class="ticket-button" [routerLink]="['/ticketdetail', ticket.id]">{{ ticket.title }}</button>
          </li>
        </ul>
      </td>
      <td>
        <h2>INPROGRESS Tickets</h2>
        <ul>
          <li *ngFor="let ticket of INPROGRESSTickets">
            <button class="ticket-buttoninprogress" [routerLink]="['/ticketdetail', ticket.id]">{{ ticket.title }}</button>
          </li>
        </ul>
      </td>
      <td>
        <h2>Done Tickets</h2>
        <ul>
          <li *ngFor="let ticket of DONETickets">
            <button class="ticket-buttondone" [routerLink]="['/ticketdetail', ticket.id]">{{ ticket.title }}</button>
          </li>
        </ul>
      </td>
    </tr>
  </table>
