<div class="u-wrapper">
    <article class="detail-project">
      <header class="detail-project__header">
        <button routerLink = "/">
          Retour</button
        >
      </header>

      <div class="detail-project__header-actions">
        <br>
        <button  class="users-button" [routerLink]="['/updateUsers',users.id]">modifier users
        </button>
      </div>
      <br>
      <button  class="users-button" (click)="deleteUsers()">supprimer un users
      </button>

      <br><br>
      <button  class="project-button" [routerLink]="['/users', users.id, 'addProject']">Ajouter projet
      </button>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Mes projets</th>
      </tr>
    </thead>
    <tbody>
      
        <td>
          {{users.firstName}}
        </td>
        <td>
          {{users.lastName}}
        </td>
        <td>
          <li *ngFor="let project of users.projects">
            <button class="project-button" [routerLink]="['/projectdetail', project.id]">{{project.name}}</button> 
         </li>
        </td>
    </tbody>
  </table>
