header {
    background-color:bisque;
    
    nav {
      
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      ul {
        list-style: none;
        display: flex;
        
        li {
          margin-right: 1rem;
          
          a {
            color: #333;
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
              color: #666;
            }
          }
        }
      }
      
      .search-bar {
        display: flex;
        align-items: center;
        
        input[type="text"] {
          border: none;
          border-bottom: 1px solid #333;
          padding: 0.5rem;
          
          &:focus {
            outline: none;
            border-bottom: 2px solid #333;
          }
        }
        
        button[type="submit"] {
          background-color: #333;
          color: #fff;
          border: none;
          padding: 0.5rem;
          margin-left: 0.5rem;
          
          &:hover {
            background-color: #666;
          }
        }
      }
      
      .login {
        a {
          color: #333;
          text-decoration: none;
          font-weight: bold;
          
          &:hover {
            color: #666;
          }
        }
      }
    }
  }