<header class="header">
  <nav>
      <ul>
        <li><a href="#">Accueil</a></li>
      </ul>
      <div class="search-bar">
        <input (keyup.enter)="searchProjects($event)" class="input-search" type="search" placeholder="Rechercher un projet" />
      </div>
      <div class="login">
        <button routerLink="/addUsers">check-in</button>
      </div>
    </nav>
  </header>
