.project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  
    h2 {
      margin-bottom: 20px;
    }
  
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
  
      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
  
        label {
          font-weight: bold;
          margin-bottom: 5px;
        }
  
        input,
        textarea {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          font-size: 16px;
          color: #333;
          resize: none;
  
          &:focus {
            outline: none;
            border-color: #06c;
          }
        }
  
        input[type="title"] {
          text-transform: lowercase;
        }
  
        span {
          color: red;
          font-size: 14px;
          margin-top: 5px;
        }
      }
  
      button[type="submit"] {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #06c;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #004b8f;
        }
  
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
    }
  }
  