<section class="ticket-form" >
    <h2>Modifier un ticket</h2>
    <form [formGroup]="ticketForm" (ngSubmit) = "save()">
      <div>
        <label for="title">Titre :</label>
        <input type="text" id="title" formControlName="title">

      </div>
      <div>
        <label for="content">Content :</label>
        <textarea type="text" id="content" formControlName="content"></textarea>
        <div *ngIf="ticketForm.controls['content'].invalid && ticketForm.controls['content'].touched">
          <span *ngIf="ticketForm.controls['content'].errors?.['required']">Le contenu est obligatoire.</span>
        </div>
      </div>
      <div>
        <label for="status">Status :</label>
        <input type="text" id="status" formControlName="status">
      </div>
      <div>
        <button type="submit"[disabled]="ticketForm.invalid">Enregistrer</button>
      </div>
    </form>
  </section>
  
