
<div class="welcome-message">
    <h1>Bienvenue sur ZIRA </h1>
    <p>Application de gestion des tickets utilisateurs.</p>
  </div>

  <p>selectionner un <strong>TICKET</strong> ou ajouter un <strong>PROJET</strong></p> 
  <div class="u-wrapper u-wrapper--large">
    <div class="page__header">
<br>
      <button routerLink="/ticketstatus">
        Liste des tickets par etat
      </button>
    </div>

    <br>
    <button routerLink="/users">
      Liste des utilisateurs
    </button>

    <h1>Mes Projets</h1>
      
    <table>
      <thead>
        <tr>
          <th>Projets</th>
          <th>Tickets</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projet of projects">
          <td>
            <button class="project-button" [routerLink]="['/projectdetail', projet.id]">{{ projet.name }}</button>
          </td>
          <td>
            <ul>
              <li *ngFor="let ticket of projet.tickets">
                <button class="ticket-button" [routerLink]="['/ticketdetail', ticket.id]">{{ ticket.title }}</button>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    
