table {
    width: 100%;
    border-collapse: collapse;
  
    th {
      text-align: left;
      padding: 8px;
      background-color: #ccc;
    }
  
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 5px;
    }
  }

  button {
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .project-button {
    background-color: #ff5722;
    color: white;
  }
  
  .ticket-button {
    background-color: #4caf50;
    color: white;
  }
  
  