<section class="project-form" >
    <h2>Enregistrer un nouveau utilisateur</h2>
    <form [formGroup]="usersForm" (ngSubmit) = "save()">
      <div>
        <label for="firstName">Nom :</label>
        <input type="text" id="firstName" formControlName="firstName">
        <div *ngIf="usersForm.controls['firstName'].invalid && usersForm.controls['firstName'].touched">
          <span *ngIf="usersForm.controls['firstName'].errors?.['required']">Le nom est obligatoire.</span>
        </div>
      </div>

      <div>
        <label for="lastName">prénom :</label>
        <input type="text" id="lastName" formControlName="lastName">
      </div>

      <div>
        <label for="email">Email :</label>
        <input type="text" id="email" formControlName="email">
        <div *ngIf="usersForm.controls['email'].invalid && usersForm.controls['email'].touched">
          <span *ngIf="usersForm.controls['email'].errors?.['required']">Le mail est obligatoire.</span>
        </div>
      </div>
      <div>
        <button type="submit" [disabled]="usersForm.invalid">Enregistrer</button>
      </div>
    </form>
  </section>

