
 <h1>Liste des utilisateurs de ZIRA </h1>

    <table>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prenom</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>
            <button class="users-button" [routerLink]="['/usersdetail', user.id]">{{user.firstName}}</button>
          </td>
          <td>
            <button class="users-button"[routerLink]="['/usersdetail', user.id]">{{user.lastName}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  




  