<article class="project-card" [routerLink]="['/projet', data.id]">
  
    <div class="project-card__infos">
      <div class="project-card__header">
        <button [routerLink]="['/projectdetail', data.id]">  <h2 class="project-card__title">{{data.name}}</h2></button> 
      </div>
      <p class="project-card__baseline">{{data.descriptif}}</p>

      <ul class="project-tickets">
        <li class="project-tickets__item">
            <ul>
                <li *ngFor="let ticket of data.tickets">
                   <button [routerLink]="['/ticketdetail', ticket.id]">{{ticket.title}}</button> 
                </li>
            </ul>
        </li>
      </ul>
    </div>
  </article>
