<div class="u-wrapper">
    <article class="detail-project">
      <header class="detail-project__header">
        <button routerLink = "/">
          Retour</button
        >
      </header>
  
      <div class="detail-project__header-actions">
        <br>
        <button  class="project-button" [routerLink]="['/updateProject',project.id]">modifier project
        </button>
      </div>
      <br>
      <button  class="project-button" (click)="deleteProject()">supprimer un project
      </button>

      <br><br>
      <button  class="ticket-button" [routerLink]="['/projects', project.id, 'addTicket']">Ajouter ticket
      </button>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Descriptif</th>
          </tr>
        </thead>
        <tbody>
          
            <td>
              {{project.name}}
            </td>
            <td>
              {{project.descriptif}}
            </td>
        
        </tbody>
      </table>
    </article>
  </div>
  
