<div class="ticket-details">
    <article class="detail-ticket">
      <header class="detail-ticket__header">
        <button routerLink = "/">
          Retour</button
        >
      </header>
  
      <div class="detail-ticket__header-actions">
        <br>
        <button  class="ticket-button" [routerLink]="['/updateTicket',ticket.id]">modifier ticket
        </button>
      </div>
      <br>
      <button  class="ticket-button" (click)="deleteTicket()">supprimer un ticket
      </button>
      
    </article>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Content</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      
        <td>
          {{ticket.title}}
        </td>
        <td>
          {{ticket.content}}
        </td>
        <td>
          {{ticket.status}}
        </td>
    </tbody>
  </table>
